<div class="contenedor">
    <audio id="successSound"
        src="../assets/Sounds/depositphotos_425986708-track-app-interface-button-notification.mp3"></audio>
    <audio id="errorSound" src="../assets/Sounds/negative_beeps-6008.mp3"></audio>

    <div id="overlay" class="loader-overlay" style="display: none;"></div>
    <div class="wrapper">
        <div class="contenido">
            <h1 class="titulo" style="margin-right: 500px; margin-top: 10px;"> Bienvenido: </h1> <br>
            
            <div class="cuadroTexto">
                <div class="valor">
                    <div class="valoresEscribir">
                        <h1 class="titulo" style="margin-right: 10px;"> Digite el número de identificación del empleado
                            a
                            validar: </h1>
                        <input type="text" id="cedula" placeholder="Número de identificación" class="input"
                            style="margin-left: 35px; margin-top: -20px;" [(ngModel)]="cedula" />

                        <button class="btn2" style="margin-top: 15px; margin-left: 85px;"
                            (click)="sendCedula()">Buscar</button>


                    </div>
                </div>
                <h1 id="datosPersona" class="titulo" style="float: left; margin-left: 30px"></h1>

            </div>


            <div class="tabla" id="oculto">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>No</th>
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Ingreso</th>
                            <th>Retiro</th>
                            <th>Finca</th>
                            <th>Telefono</th>
                            <th>CONCEPTO</th>
                            <th>Desprendibles</th>
                            <th>Certificaciones</th>
                            <th>cartas de retiro</th>
                            <th>carta de cesantias</th>
                            <th>entrevista de retiro</th>
                            <th>Correo</th>
                            <th>Confirmacion Envio</th>
                        </tr>
                    </thead>

                    <tbody id="tabla">


                    </tbody>

                </table>
            </div>

        </div>



    </div>
</div>

