@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,1000;1,1000&display=swap');

.contenedor {
    background-size: 100%;
    min-width: 100vh;
    min-height: 100vh;
    background: linear-gradient(120deg, #eeeeee 50%, #FEBB2E 40%);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.delete-icon,
.editar-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

td a {
    color: blue;    /* Color del texto del enlace */
    text-decoration: underline;    /* Subrayado del enlace */
}


.p {
    margin: 0;    /* Ajusta según sea necesario */
    padding: 0;    /* Ajusta según sea necesario */
}

.contenido {
    max-width: 78%;
    width: 80%;
    height: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    justify-content: center;
}

.tabla {
    width: 1000px;
    height: 300px;
    overflow: auto;
    max-height: 50%;
    background: #ffffff;
    margin: 50px 0 0 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    /* Agrega una barra de desplazamiento horizontal si es necesario */
}

.tabla-contenido {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12pt;
    text-align: center;
}

.iconoCerrarSesion .titulo{
    margin-right: 500px; 
    margin-top: 10px; 
}

.tabla-contenido th {
    position: sticky;
    top: 0;
    /* Fija el encabezado en la parte superior */
    z-index: 1;
    /* Asegura que el encabezado esté por encima del contenido al hacer scroll */
}

.tabla-contenido tr:nth-child(even) {
    background-color: #f2f2f2;
    /* color para filas pares */
}

.tabla-contenido tr:nth-child(odd) {
    background-color: #cccccc;
    /* color para filas impares */
}

th,
td {
    vertical-align: middle;
    padding: 0px 10px 0px 10px;

}


th {
    border-bottom: #b9b9b9 1px solid;
    padding: 15px;
    background: #5e6a75;
    color: #ffffff;
    font-weight: 400;
    position: sticky;
    top: 0;   
    z-index: 999;   
}

tr {
    height: 40px;

}

/* Aplicar escala solo al cuarto cuadro utilizando :nth-child */
.cuadroTlinea :hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    /* Agregar transición para suavizar el cambio */
    cursor: pointer;
}

.cuadroSlinea .cuadro:nth-child(3):hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    /* Agregar transición para suavizar el cambio */
}


.cuadroTexto {
    width: 800px;
    height: 250px;
    background: #ffffff;
    margin: 50px 0 0 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    font-size: 16pt;
    font-weight: 700;
}


.valor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}


.valor .titulo {
    margin: 5px 50px 30px 30px;
    float: left;
}


.valoresEscribir .titulo {
    margin-top: 50px;
}

.input {
    font-family: 'Poppins', sans-serif;
    width: 500px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-width: 0px;
    border-color: #cccccc;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    margin: 50px 20px 0 0;
}

.input:focus {
    outline: none;
}

.btn2 {
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #0066cc;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    touch-action: manipulation; /* Otra opción puede ser 'auto' dependiendo del caso */

}



.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Ajusta el valor del último número para controlar la opacidad */
    z-index: 9999;
    /* Asegúrate de que la capa esté en un nivel superior para cubrir todo el contenido */
}

.cajaloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;

}

/*loader*/
.custom-loader {
    width: 100px;
    height: 100px;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(#1157fb 25%, #E4E4ED 0 50%, #8CD50A 0 75%, #1157fb 0);
    animation: s2 4s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
}

.custom-loader::before,
.custom-loader::after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    animation: inherit;
}




.iconoCerrarSesion {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;    
    justify-content: center;     
}

.imgcaja{
    width: 50%;
    float: right;
}

.iconoCerrarSesion img {
    margin: 0 ;
    padding: 0;
    width: 40px;
    height: 40px;   
    float: right; 
}

.iconoCerrarSesion .titulo{
    margin-top: 10px; 
}

.custom-loader::after {
    margin: 25%;
    animation-duration: 6s;
}

@keyframes s2 {
    100% {
        transform: rotate(1turn)
    }
}


@media screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrapper {
        overflow-x: hidden;
        box-sizing: content-box;
        min-width: 100%;
    }

    .contenedor {
        background: linear-gradient(115deg, #fdfdfd 45%, #194262 40%);
        min-width: 100%;
        justify-content: center;
    }

    .contenido {
        max-width: 90%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto;
    }
    
    .cuadroTexto {
        width: 300px;
        height: 250px;
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
        font-size: 16pt;
        font-weight: 700;  
        margin: 0 auto;
        margin-top: 50px;
    }

    .valoresEscribir {
        width: 100%;
        height: 500px;
        margin: 0 auto;        
    }	

    .valor .titulo {
        margin: 20px 0px 30px 20px;
        font-size: 14pt;
        float: left;
    }

    .input {
        font-family: 'Poppins', sans-serif;
        width: 230px;
        height: 40px;
        padding: 5px;
        font-size: 16px;
        border-width: 0px;
        border-color: #cccccc;
        background-color: #ffffff;
        border-style: solid;
        border-radius: 11px;
        box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    }
    
    .tabla{
        margin-left: -5pt;
    }

    th {
        border-bottom: #b9b9b9 1px solid;
        padding: 0 20px 0 20px;
        background: #5e6a75;
        color: #ffffff;
        font-weight: 800;
    }
    
    tr {
        height: 30px;
    
    }

    .iconoCerrarSesion {
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;  

            
    }

    .iconoCerrarSesion img {
        margin: 0 ;
        padding: 0;
        width: 40px;
        height: 40px;
        
    }

    .iconoCerrarSesion .titulo{
        margin-right: 0px; 
        margin-top: 10px; 
    }

}
