<div class="contenedor">
  <div class="head">
    <div class="caja">
      <img src="../../assets/blanco-horizontal-alianza - copia.png" alt="logo" class="logo">
    </div>
    <h1>Formulario de contratación</h1>
  </div>

  <div class="fila1">
    <div class="cajabusqueda">
      <mat-form-field appearance="fill" *ngIf="!mostrarFormulario" class="cedulaAux">
        <mat-label> Escriba el número de cédula a buscar </mat-label>
        <input type="number" matInput [(ngModel)]="numeroCedula" placeholder="Ej: 10058478963">
      </mat-form-field>

      <button type="button" class="boton" *ngIf="!mostrarFormulario" mat-raised-button color="primary"
        (click)="buscarCedula()"> Buscar
      </button>

    </div>
    <!--
      <form class="formulario formulario2" [formGroup]="formHojaDeVida2" id="formulario" *ngIf="mostrarFormulario" autocomplete="off">
    -->
    <form class="formulario formulario2" [formGroup]="formHojaDeVida2" id="formulario" autocomplete="off">

      <div>

        <div class="title">
          <h1>Datos personales</h1>
        </div>

        <div class="datos">

          <mat-form-field appearance="fill">
            <mat-label> Tipo de documento </mat-label>
            <mat-select formControlName="tipoDoc">
              <mat-option *ngFor="let tipoDoc of tipoDocs" [value]="tipoDoc.abbreviation">
                {{tipoDoc.description}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Número de documento de identidad</mat-label>
            <input type="number" matInput formControlName="numeroCedula" placeholder="Ej: 10058478963">
          </mat-form-field><BR>

          <mat-form-field appearance="fill">
            <mat-label> Confirmar numero de documento </mat-label>
            <input type="number" matInput formControlName="numeroCedula2" placeholder="Ej: 10058478963">
          </mat-form-field><BR>

          <mat-form-field appearance="fill">
            <mat-label>Primer apellido</mat-label>
            <input type="text" matInput formControlName="pApellido" placeholder="Ej: Pelaez">
          </mat-form-field><BR>

          <mat-form-field appearance="fill">
            <mat-label>Segundo apellido</mat-label>
            <input type="text" matInput formControlName="sApellido" placeholder="Ej: Mendez">
          </mat-form-field><BR>

          <mat-form-field appearance="fill">
            <mat-label>Primer nombre</mat-label>
            <input type="text" matInput formControlName="pNombre" placeholder="Ej: Juan">
          </mat-form-field><BR>


          <mat-form-field appearance="fill">
            <mat-label>Segundo nombre</mat-label>
            <input type="text" matInput formControlName="sNombre" placeholder="Ej: Danilo">
          </mat-form-field><BR>


          <mat-form-field appearance="fill">
            <mat-label> Sexo </mat-label>
            <mat-select formControlName="genero">
              <mat-option *ngFor="let genero of generos" [value]="genero">
                {{genero}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input type="email" matInput formControlName="correo" placeholder="Ej: ejemplo@gmail.com">
          </mat-form-field><BR>

          <mat-form-field appearance="fill">
            <mat-label>Número de celular</mat-label>
            <input type="text" matInput formControlName="numCelular" placeholder="Ej: 3147859841">
          </mat-form-field><BR>

          <mat-form-field appearance="fill">
            <mat-label>Número de WhatsApp</mat-label>
            <input type="text" matInput formControlName="numWha" placeholder="Ej: 317598725">
          </mat-form-field><BR>

          <mat-form-field appearance="fill">
            <mat-label>Departamento donde vive</mat-label>
            <mat-select formControlName="departamento">
              <mat-option *ngFor="let departamento of datos" [value]="departamento.departamento">
                {{departamento.departamento}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Municipio donde vive</mat-label>
            <mat-select formControlName="ciudad">
              <mat-option *ngFor="let ciudad of ciudadesResidencia" [value]="ciudad">
                {{ciudad}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Estado Civil -->
          <mat-form-field appearance="fill">
            <mat-label>Estado Civil</mat-label>
            <mat-select formControlName="estadoCivil">
              <mat-option *ngFor="let estado of estadosCiviles" [value]="estado.codigo">
                {{ estado.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Dirección de Residencia -->
          <mat-form-field appearance="fill">
            <mat-label>Dirección de Residencia</mat-label>
            <input matInput formControlName="direccionResidencia" placeholder="Sin símbolos">
          </mat-form-field>

          <!--En que zona (barrio)-->
          <mat-form-field appearance="fill">
            <mat-label>En que zona (barrio) vive</mat-label>
            <input matInput formControlName="zonaResidencia" placeholder="Ejemplo: Barrio la paz">
          </mat-form-field>

          <!-- Fecha de Expedición CC -->
          <mat-form-field appearance="fill">
            <mat-label>Fecha de Expedición CC</mat-label>
            <input matInput [matDatepicker]="expedicionCCPicker" formControlName="fechaExpedicionCC"
              (focus)="expedicionCCPicker.open()">
            <mat-datepicker-toggle matSuffix [for]="expedicionCCPicker"></mat-datepicker-toggle>
            <mat-datepicker #expedicionCCPicker></mat-datepicker>
          </mat-form-field>


          <!-- Departamento de Expedición CC -->
          <mat-form-field appearance="fill">
            <mat-label>Departamento de Expedición CC</mat-label>
            <mat-select formControlName="departamentoExpedicionCC">
              <mat-option *ngFor="let departamento of datos" [value]="departamento.departamento">
                {{departamento.departamento}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Municipio de Expedición CC -->
          <mat-form-field appearance="fill">
            <mat-label>Municipio de Expedición CC</mat-label>
            <mat-select formControlName="municipioExpedicionCC">
              <mat-option *ngFor="let ciudad of ciudadesExpedicionCC" [value]="ciudad">
                {{ciudad}}
              </mat-option>
            </mat-select>
          </mat-form-field>




          <!-- Lugar de Nacimiento: Municipio y Departamento -->
          <!-- Departamento de Nacimiento -->
          <mat-form-field appearance="fill">
            <mat-label>Departamento de Nacimiento</mat-label>
            <mat-select formControlName="departamentoNacimiento">
              <mat-option *ngFor="let departamento of datos" [value]="departamento.departamento">
                {{departamento.departamento}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Municipio de Nacimiento -->
          <mat-form-field appearance="fill">
            <mat-label>Municipio de Nacimiento</mat-label>
            <mat-select formControlName="municipioNacimiento">
              <mat-option *ngFor="let ciudad of ciudadesNacimiento" [value]="ciudad">
                {{ciudad}}
              </mat-option>
            </mat-select>
          </mat-form-field>



          <!-- Grupo sanguíneo (Rh) -->
          <mat-form-field appearance="fill">
            <mat-label>Rh</mat-label>
            <mat-select formControlName="rh">
              <mat-option *ngFor="let tipo of listatiposdesangre" [value]="tipo">
                {{ tipo }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Lateralidad (Zurdo/Diestro) -->
          <mat-form-field appearance="fill">
            <mat-label>Zurdo/Diestro</mat-label>
            <mat-select formControlName="lateralidad">
              <mat-option *ngFor="let mano of listamanos" [value]="mano.mano">
                {{ mano.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>





          <!-- Hace cuánto vive en la zona -->
          <mat-form-field appearance="fill">
            <mat-label>¿Hace cuánto vive en la zona?</mat-label>
            <mat-select formControlName="tiempoResidenciaZona">
              <mat-option *ngFor="let tiempo of haceCuantoViveEnlaZona" [value]="tiempo">{{ tiempo }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Lugar anterior de residencia -->
          <mat-form-field appearance="fill">
            <mat-label>Lugar anterior de residencia</mat-label>
            <input matInput formControlName="lugarAnteriorResidencia" placeholder="Ejemplo: Bogotá">
          </mat-form-field>

          <!-- Hace cuánto se vino y por qué -->
          <mat-form-field appearance="fill">
            <mat-label>¿Por qué cambió de ciudad de residencia?</mat-label>
            <input matInput formControlName="razonCambioResidencia" placeholder="Ejemplo: Por razones personales">
          </mat-form-field>

          <!-- Qué zonas del país conoce -->
          <mat-form-field appearance="fill">
            <mat-label>¿Qué zonas del país conoce?</mat-label>
            <input matInput formControlName="zonasConocidas" placeholder="Ejemplo: Costa, Andina">
          </mat-form-field>

          <!-- En dónde le gustaría vivir -->
          <mat-form-field appearance="fill">
            <mat-label>¿Dónde le gustaría vivir?</mat-label>
            <input matInput formControlName="preferenciaResidencia" placeholder="Ejemplo: En el campo">
          </mat-form-field>

          <!-- Fecha de Nacimiento -->
          <mat-form-field appearance="fill">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="pickerNacimiento" formControlName="fechaNacimiento"
              (focus)="pickerNacimiento.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerNacimiento"></mat-datepicker-toggle>
            <mat-datepicker #pickerNacimiento></mat-datepicker>
          </mat-form-field>


          <!-- Estudia actualmente -->
          <mat-form-field appearance="fill">
            <mat-label>¿Estudia actualmente?</mat-label>
            <mat-select formControlName="estudiaActualmente">
              <mat-option *ngFor="let opcion of opcionBinaria" [value]="opcion">{{ opcion.display }}</mat-option>
            </mat-select>
          </mat-form-field>



          <!-- Nombre del Familiar en Caso de Emergencia -->
          <mat-form-field appearance="fill">
            <mat-label>Nombre familiar En caso de emergencia</mat-label>
            <input matInput formControlName="familiarEmergencia">
          </mat-form-field>

          <!-- Parentesco del Familiar en Caso de Emergencia -->
          <mat-form-field appearance="fill">
            <mat-label>Parentesco</mat-label>
            <mat-select formControlName="parentescoFamiliarEmergencia">
              <mat-option *ngFor="let parentesco of listaParentescosFamiliares" [value]="parentesco">
                {{ parentesco }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Dirección del Familiar en Caso de Emergencia -->
          <mat-form-field appearance="fill">
            <mat-label>Dirección del Familiar en Caso de Emergencia</mat-label>
            <input matInput formControlName="direccionFamiliarEmergencia">
          </mat-form-field>

          <!-- Barrio del Familiar en Caso de Emergencia -->
          <mat-form-field appearance="fill">
            <mat-label>Barrio o municipio del Familiar en Caso de Emergencia</mat-label>
            <input matInput formControlName="barrioFamiliarEmergencia">
          </mat-form-field>

          <!-- Teléfono del Familiar en Caso de Emergencia -->
          <mat-form-field appearance="fill">
            <mat-label>Teléfono del Familiar en Caso de Emergencia</mat-label>
            <input matInput formControlName="telefonoFamiliarEmergencia">
          </mat-form-field>

          <!-- Ocupación del Familiar en Caso de Emergencia -->
          <mat-form-field appearance="fill">
            <mat-label>Ocupación del Familiar en Caso de Emergencia</mat-label>
            <mat-select formControlName="ocupacionFamiliar_Emergencia">
              <mat-option *ngFor="let ocupacion of Ocupacion" [value]="ocupacion">
                {{ ocupacion }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Selección de Oficina -->
          <mat-form-field appearance="fill">
            <mat-label>Seleccione la oficina donde esta</mat-label>
            <mat-select formControlName="oficina">
              <mat-option *ngFor="let oficina of oficinas" [value]="oficina">
                {{ oficina }}
              </mat-option>
            </mat-select>
          </mat-form-field>


        </div>
      </div>

      <div>
        <div class="title">
          <h1>Datos personales parte 2</h1>
        </div>
        <div class="datos">

          <!-- Escolaridad -->
          <mat-form-field appearance="fill">
            <mat-label>Escolaridad</mat-label>
            <mat-select formControlName="escolaridad">
              <mat-option *ngFor="let nivel of listaEscolaridad" [value]="nivel">
                {{ nivel }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Nombre de la Institución -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('escolaridad')?.value !== 'SIN ESTUDIOS'">
            <mat-label>Nombre de la Institución</mat-label>
            <input matInput formControlName="nombreInstitucion">
          </mat-form-field>

          <!-- Año de Finalización -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('escolaridad')?.value !== 'SIN ESTUDIOS'">
            <mat-label>Año de Finalización</mat-label>
            <input matInput [matDatepicker]="anoFinalizacionPicker" formControlName="anoFinalizacion"
              (focus)="anoFinalizacionPicker.open()">
            <mat-datepicker-toggle matSuffix [for]="anoFinalizacionPicker"></mat-datepicker-toggle>
            <mat-datepicker #anoFinalizacionPicker startView="multi-year" panelClass="example-year-picker"
              (focus)="anoFinalizacionPicker.open()">
            </mat-datepicker>
          </mat-form-field>

          <!-- Título Obtenido -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('escolaridad')?.value !== 'SIN ESTUDIOS'">
            <mat-label>Título Obtenido</mat-label>
            <input matInput formControlName="tituloObtenido">
          </mat-form-field>

          <!-- Estudios extras -->
          <!-- Estudios Extras (Multiple Select) -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('escolaridad')?.value !== 'SIN ESTUDIOS'">
            <mat-label>Estudios Extras</mat-label>
            <mat-select [formControl]="estudiosExtrasSelectControl" multiple>
              <mat-option *ngFor="let nivel of cursosDespuesColegio" [value]="nivel">
                {{ nivel }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Campos dinámicos por cada selección -->
          <div formArrayName="estudiosExtras">
            <div *ngFor="let estudio of estudiosExtras.controls; let i = index" [formGroupName]="i">
              <h3 style="margin-left: 20pt; margin-top: 10pt;">{{ estudio.get('nivel')?.value }}</h3>

              <mat-form-field appearance="fill">
                <mat-label>Año de Finalización</mat-label>
                <input matInput formControlName="anoFinalizacion">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Años Cursados</mat-label>
                <input matInput formControlName="anosCursados">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Título Obtenido</mat-label>
                <input matInput formControlName="tituloObtenido">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Nombre de la Institución</mat-label>
                <input matInput formControlName="nombreInstitucion">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad">
              </mat-form-field>

            </div>
          </div>


        </div>


        <div class="title">
          <h1>Datos tallas </h1>
        </div>
        <div class="datos">
          <!-- Tallas y Calzado -->
          <mat-form-field appearance="fill">
            <mat-label>Chaqueta</mat-label>
            <mat-select formControlName="tallaChaqueta">
              <mat-option *ngFor="let talla of tallas" [value]="talla">
                {{ talla }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Talla de Pantalón -->
          <mat-form-field appearance="fill">
            <mat-label>Pantalón</mat-label>
            <mat-select formControlName="tallaPantalon">
              <mat-option *ngFor="let talla of tallas" [value]="talla">
                {{ talla }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Talla de Camisa -->
          <mat-form-field appearance="fill">
            <mat-label>Camisa</mat-label>
            <mat-select formControlName="tallaCamisa">
              <mat-option *ngFor="let talla of tallas" [value]="talla">
                {{ talla }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Talla de Calzado -->
          <mat-form-field appearance="fill">
            <mat-label>Calzado</mat-label>
            <mat-select formControlName="tallaCalzado">
              <mat-option *ngFor="let talla of tallasCalzado" [value]="talla">
                {{ talla }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>


        <div class="title" *ngIf="formHojaDeVida2.get('estadoCivil')?.value !== 'SO'">
          <h1>Datos Conyugue </h1>
        </div>
        <div class="datos" *ngIf="formHojaDeVida2.get('estadoCivil')?.value !== 'SO'">

          <!-- Nombres del Cónyuge -->
          <mat-form-field appearance="fill">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="nombresConyuge">
          </mat-form-field>

          <!-- Apellidos del Cónyuge -->
          <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="apellidosConyuge">
          </mat-form-field>

          <!-- Vive (SI/NO) -->
          <mat-form-field appearance="fill">
            <mat-label>¿Vive? (SI/NO)</mat-label>
            <mat-select formControlName="viveConyuge">
              <mat-option *ngFor="let opcion of opcionBinaria" [value]="opcion.value">
                {{ opcion.display }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Documento de Identidad del Cónyuge -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('viveConyuge')?.value">
            <mat-label>No. Doc. Identidad</mat-label>
            <input matInput formControlName="documentoIdentidadConyuge" type="number">
          </mat-form-field>

          <!-- Dirección del Cónyuge -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('viveConyuge')?.value">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccionConyuge">
          </mat-form-field>

          <!-- Teléfono del Cónyuge -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('viveConyuge')?.value">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefonoConyuge" type="tel">
          </mat-form-field>

          <!-- Barrio del Cónyuge -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('viveConyuge')?.value">
            <mat-label>Barrio o municipio</mat-label>
            <input matInput formControlName="barrioConyuge">
          </mat-form-field>

          <!-- Ocupación del Cónyuge -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('viveConyuge')?.value">
            <mat-label>Ocupación</mat-label>
            <input matInput formControlName="ocupacionConyuge">
          </mat-form-field>

        </div>

        <div class="title">
          <h1>Datos del padre </h1>
        </div>
        <div class="datos">
          <!-- Nombre del Padre -->
          <mat-form-field appearance="fill">
            <mat-label>Nombre Padre</mat-label>
            <input matInput formControlName="nombrePadre">
          </mat-form-field>

          <!-- El Padre Vive (SI/NO) -->
          <mat-form-field appearance="fill">
            <mat-label>¿Vive? (SI/NO)</mat-label>
            <mat-select formControlName="elPadreVive">
              <mat-option *ngFor="let opcion of opcionBinaria" [value]="opcion.value">
                {{ opcion.display }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Ocupación del Padre -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('elPadreVive')?.value">
            <mat-label>Ocupación Padre</mat-label>
            <input matInput formControlName="ocupacionPadre">
          </mat-form-field>

          <!-- Dirección del Padre -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('elPadreVive')?.value">
            <mat-label>Dirección Padre</mat-label>
            <input matInput formControlName="direccionPadre">
          </mat-form-field>

          <!-- Teléfono del Padre -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('elPadreVive')?.value">
            <mat-label>Teléfono Padre</mat-label>
            <input matInput formControlName="telefonoPadre" type="tel">
          </mat-form-field>

          <!-- Barrio del Padre -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('elPadreVive')?.value">
            <mat-label>Barrio o municipio Padre</mat-label>
            <input matInput formControlName="barrioPadre">
          </mat-form-field>

        </div>

        <div class="title">
          <h1>Datos de la Madre </h1>
        </div>
        <div class="datos">

          <!-- Nombre de la Madre -->
          <mat-form-field appearance="fill">
            <mat-label>Nombre Madre</mat-label>
            <input matInput formControlName="nombreMadre">
          </mat-form-field>

          <!-- La Madre Vive (SI/NO) -->
          <mat-form-field appearance="fill">
            <mat-label>¿Vive? (SI/NO)</mat-label>
            <mat-select formControlName="madreVive">
              <mat-option *ngFor="let opcion of opcionBinaria" [value]="opcion.value">
                {{ opcion.display }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Ocupación de la Madre, visible solo si 'madreVive' es verdadero -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('madreVive')?.value">
            <mat-label>Ocupación Madre</mat-label>
            <input matInput formControlName="ocupacionMadre">
          </mat-form-field>

          <!-- Dirección de la Madre, visible solo si 'madreVive' es verdadero -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('madreVive')?.value">
            <mat-label>Dirección Madre</mat-label>
            <input matInput formControlName="direccionMadre">
          </mat-form-field>

          <!-- Teléfono de la Madre, visible solo si 'madreVive' es verdadero -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('madreVive')?.value">
            <mat-label>Teléfono Madre</mat-label>
            <input matInput formControlName="telefonoMadre" type="tel">
          </mat-form-field>

          <!-- Barrio de la Madre, visible solo si 'madreVive' es verdadero -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('madreVive')?.value">
            <mat-label>Barrio o Municipio Madre</mat-label>
            <input matInput formControlName="barrioMadre">
          </mat-form-field>

        </div>

        <div class="title">
          <h1>Datos de las referencias </h1>
        </div>
        <div class="datos">
          <!-- Referencias Personales -->
          <mat-form-field appearance="fill">
            <mat-label>Nombre Referencia Personal 1</mat-label>
            <input matInput formControlName="nombreReferenciaPersonal1">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Teléfono Referencia Personal 1</mat-label>
            <input matInput formControlName="telefonoReferencia1" type="tel">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ocupación Referencia Personal 1</mat-label>
            <input matInput formControlName="ocupacionReferencia1">
          </mat-form-field>

          <!--direccionReferenciaPersonal1-->
          <mat-form-field appearance="fill">
            <mat-label>Dirección Referencia Personal 1</mat-label>
            <input matInput formControlName="direccionReferenciaPersonal1">
          </mat-form-field>

          <!-- tiempo_conoce_referencia_personal1 -->
          <mat-form-field appearance="fill">
            <mat-label>Tiempo que conoce a la referencia personal 1</mat-label>
            <mat-select formControlName="tiempoConoceReferenciaPersonal1">
              <mat-option *ngFor="let tiempo of listaDuracion" [value]="tiempo">{{ tiempo }}</mat-option>
            </mat-select>
          </mat-form-field>


          <!-- Referencia Personal 2 -->

          <mat-form-field appearance="fill">
            <mat-label>Nombre Referencia Personal 2</mat-label>
            <input matInput formControlName="nombreReferenciaPersonal2">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Teléfono Referencia Personal 2</mat-label>
            <input matInput formControlName="telefonoReferencia2" type="tel">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ocupación Referencia Personal 2</mat-label>
            <input matInput formControlName="ocupacionReferencia2">
          </mat-form-field>

          <!--direccionReferenciaPersonal2-->
          <mat-form-field appearance="fill">
            <mat-label>Dirección Referencia Personal 2</mat-label>
            <input matInput formControlName="direccionReferenciaPersonal2">
          </mat-form-field>


          <!-- tiempo_conoce_referencia_personal2 -->
          <mat-form-field appearance="fill">
            <mat-label>Tiempo que conoce a la referencia personal 2</mat-label>
            <mat-select formControlName="tiempoConoceReferenciaPersonal2">
              <mat-option *ngFor="let tiempo of listaDuracion" [value]="tiempo">{{ tiempo }}</mat-option>
            </mat-select>
          </mat-form-field>


          <!-- Referencias Familiares -->
          <mat-form-field appearance="fill">
            <mat-label>Nombre Referencia Familiar 1</mat-label>
            <input matInput formControlName="nombreReferenciaFamiliar1">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Teléfono Referencia Familiar 1</mat-label>
            <input matInput formControlName="telefonoReferenciaFamiliar1" type="tel">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ocupación Referencia Familiar 1</mat-label>
            <input matInput formControlName="ocupacionReferenciaFamiliar1">
          </mat-form-field>

          <!--direccionReferenciaFamiliar1-->
          <mat-form-field appearance="fill">
            <mat-label>Dirección Referencia Familiar 1</mat-label>
            <input matInput formControlName="direccionReferenciaFamiliar1">
          </mat-form-field>

          <!-- parentesco -->
          <mat-form-field appearance="fill">
            <mat-label>Parentesco con la referencia familiar 1</mat-label>
            <mat-select formControlName="parentescoReferenciaFamiliar1">
              <mat-option *ngFor="let parentesco of listaParentescosFamiliares" [value]="parentesco">
                {{ parentesco }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Referencia Familiar 2 -->

          <mat-form-field appearance="fill">
            <mat-label>Nombre Referencia Familiar 2</mat-label>
            <input matInput formControlName="nombreReferenciaFamiliar2">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Teléfono Referencia Familiar 2</mat-label>
            <input matInput formControlName="telefonoReferenciaFamiliar2" type="tel">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ocupación Referencia Familiar 2</mat-label>
            <input matInput formControlName="ocupacionReferenciaFamiliar2">
          </mat-form-field>

          <!-- parentesco -->
          <mat-form-field appearance="fill">
            <mat-label>Parentesco con la referencia familiar 2</mat-label>
            <mat-select formControlName="parentescoReferenciaFamiliar2">
              <mat-option *ngFor="let parentesco of listaParentescosFamiliares" [value]="parentesco">
                {{ parentesco }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>




        <div class="title">
          <h1>Datos experiencia laboral </h1>
        </div>
        <div class="datos">


          <!-- Tiene experiencia laboral -->
          <mat-form-field appearance="fill">
            <mat-label>¿Tiene experiencia laboral?</mat-label>
            <mat-select formControlName="experienciaLaboral">
              <mat-option *ngFor="let opcion of opcionBinaria" [value]="opcion.value">{{ opcion.display }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Experiencia Laboral 1 -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('experienciaLaboral')?.value">
            <mat-label>Nombre Empresa</mat-label>
            <input matInput formControlName="nombreEmpresa1">
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('experienciaLaboral')?.value">
            <mat-label>Dirección Empresa</mat-label>
            <input matInput formControlName="direccionEmpresa1">
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('experienciaLaboral')?.value">
            <mat-label>Teléfonos Empresa</mat-label>
            <input matInput formControlName="telefonosEmpresa1" type="tel">
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('experienciaLaboral')?.value">
            <mat-label>Nombre Jefe Inmediato</mat-label>
            <input matInput formControlName="nombreJefe1">
          </mat-form-field>

          <!--cargo que se desempeñaba -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('experienciaLaboral')?.value">
            <mat-label>Cargo que se desempeñaba</mat-label>
            <input matInput formControlName="cargoEmpresa1">
          </mat-form-field>

          <!-- Área de experiencia -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('experienciaLaboral')?.value">
            <mat-label>¿En qué área tiene experiencia?</mat-label>
            <mat-select formControlName="areaExperiencia" multiple>
              <mat-option *ngFor="let area of areasExperiencia" [value]="area">
                {{ area }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Fecha de Retiro 1 -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('experienciaLaboral')?.value">
            <mat-label>Fecha de Retiro 1</mat-label>
            <input matInput [matDatepicker]="pickerRetiro1" formControlName="fechaRetiro1"
              (focus)="pickerRetiro1.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerRetiro1"></mat-datepicker-toggle>
            <mat-datepicker #pickerRetiro1></mat-datepicker>
          </mat-form-field>


          <!-- Tiempo de experiencia -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('experienciaLaboral')?.value">
            <mat-label>Tiempo de experiencia</mat-label>
            <mat-select formControlName="tiempoExperiencia">
              <mat-option *ngFor="let tiempo of tiempoTrabajado" [value]="tiempo">{{ tiempo }}</mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('experienciaLaboral')?.value">
            <mat-label>Motivo de Retiro</mat-label>
            <input matInput formControlName="motivoRetiro1">
          </mat-form-field>

          <!-- Empresas de flores que ha trabajado -->
          <mat-form-field appearance="fill">
            <mat-label>Empresas de flores que ha trabajado (Separarlas con ,)</mat-label>
            <input matInput formControlName="empresas_laborado">
          </mat-form-field>

          <!-- Describa paso a paso cómo es su labor -->
          <mat-form-field appearance="fill">
            <mat-label>Describa paso a paso cómo es su labor (ser lo más breve posible)</mat-label>
            <textarea matInput formControlName="labores_realizadas" rows="3"></textarea>
          </mat-form-field>

          <!-- Califique su rendimiento (Opciones) -->
          <mat-form-field appearance="fill">
            <mat-label>Califique su rendimiento</mat-label>
            <mat-select formControlName="rendimiento">
              <mat-option value="BAJO">BAJO</mat-option>
              <mat-option value="MEDIO">MEDIO</mat-option>
              <mat-option value="EXCELENTE">EXCELENTE</mat-option>
            </mat-select>
          </mat-form-field>


          <!-- ¿Por qué se da esta auto calificación? -->
          <mat-form-field appearance="fill">
            <mat-label>¿Por qué se da esta auto calificación?</mat-label>
            <textarea matInput formControlName="porqueRendimiento" rows="3"></textarea>
          </mat-form-field>

          <!-- Según su experiencia y desempeño laboral, ¿por qué motivos lo han felicitado? -->
          <mat-form-field appearance="fill">
            <mat-label>¿Por qué motivos lo han felicitado?</mat-label>
            <textarea matInput formControlName="porqueLofelicitarian" rows="3"></textarea>
          </mat-form-field>

          <!-- ¿Ha tenido algún malentendido o situación conflictiva en algún trabajo? Si sí, especifique por qué. -->
          <mat-form-field appearance="fill">
            <mat-label>¿Ha tenido algún malentendido o situación conflictiva en algún trabajo? Si sí, especifique por
              qué.</mat-label>
            <textarea matInput formControlName="malentendido" rows="3"></textarea>
          </mat-form-field>


        </div>

        <div class="title">
          <h1>Datos de los hijos </h1>
        </div>

        <!-- N° de Hijos que dependen económicamente -->
        <mat-form-field appearance="fill">
          <mat-label>Número de hijos que dependen económicamente</mat-label>
          <input matInput type="number" formControlName="numHijosDependientes" min="0">
        </mat-form-field>

        <!-- Edades de los hijos -->
        <div
          *ngIf="formHojaDeVida2.get('numHijosDependientes')?.value > 0 && formHojaDeVida2.get('numHijosDependientes')?.value <= 5">
          <mat-form-field appearance="fill" *ngFor="let controlName of generarArrayHijos(); let i = index"
            class="edad-hijo-form-field">
            <mat-label>Edad del hijo {{ i + 1 }}</mat-label>
            <input matInput type="number" [formControlName]="'edadHijo' + (i + 1)" min="0">
          </mat-form-field>
        </div>

        <!-- Quién los cuida -->
        <mat-form-field appearance="fill"
          *ngIf="formHojaDeVida2.get('numHijosDependientes')?.value > 0 && formHojaDeVida2.get('numHijosDependientes')?.value <= 5">
          <mat-label>¿Quién cuida a los hijos?</mat-label>
          <mat-select formControlName="cuidadorHijos">
            <mat-option *ngFor="let cuidador of listaPersonasQueCuidan" [value]="cuidador">{{ cuidador }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="datos"
          *ngIf="formHojaDeVida2.get('numHijosDependientes')?.value > 0 && formHojaDeVida2.get('numHijosDependientes')?.value <= 5">
          <div formArrayName="hijos">
            <div *ngFor="let hijo of hijosFormArray.controls; let i = index" [formGroupName]="i">
              <h1
                *ngIf="formHojaDeVida2.get('numHijosDependientes')?.value > 0 && formHojaDeVida2.get('numHijosDependientes')?.value <= 5"
                style="margin-left: 20pt; margin-top: 15px; margin-bottom: 10px;">Información del Hijo {{ i + 1 }}</h1>

              <!-- Nombre del hijo -->
              <mat-form-field appearance="fill">
                <mat-label>Nombre del Hijo {{ i + 1 }}</mat-label>
                <input matInput formControlName="nombreHijo">
              </mat-form-field>

              <!--
                SEXO, FECHA NACIMIENTO, DOCUMENTO DE IDENTIDAD, OCUPACION, Curso              
              -->

              <!-- Sexo del Hijo -->
              <mat-form-field appearance="fill">
                <mat-label>Sexo del Hijo</mat-label>
                <mat-select formControlName="sexoHijo">
                  <mat-option [value]="'M'">M</mat-option>
                  <mat-option [value]="'F'">F</mat-option>
                </mat-select>
              </mat-form-field>


              <!-- Fecha de Nacimiento del Hijo -->
              <mat-form-field appearance="fill">
                <mat-label>Fecha de Nacimiento del Hijo</mat-label>
                <input matInput [matDatepicker]="pickerFechaNacimientoHijo" formControlName="fechaNacimientoHijo"
                  (focus)="pickerFechaNacimientoHijo.open()">
                <mat-datepicker-toggle matSuffix [for]="pickerFechaNacimientoHijo"></mat-datepicker-toggle>
                <mat-datepicker #pickerFechaNacimientoHijo></mat-datepicker>
              </mat-form-field>


              <!-- Documento de Identidad del Hijo -->
              <mat-form-field appearance="fill">
                <mat-label>Documento de Identidad del Hijo</mat-label>
                <input matInput formControlName="docIdentidadHijo">
              </mat-form-field>

              <!-- Ocupación del Hijo -->
              <mat-form-field appearance="fill">
                <mat-label>Ocupación del Hijo</mat-label>
                <input matInput formControlName="ocupacionHijo">
              </mat-form-field>

              <!-- Curso del Hijo -->
              <mat-form-field appearance="fill">
                <mat-label>Curso del Hijo</mat-label>
                <input matInput formControlName="cursoHijo">
              </mat-form-field>





            </div>
          </div>
        </div>


        <div class="title">
          <h1>Datos parte 3 </h1>
        </div>
        <div class="datos">
          <h1 style="line-height: 1.0; margin-left: 20pt; margin-top: 15px; margin-bottom: 10px; flex: 1 1 100%;">
            Información de con quien vive </h1>

          <mat-form-field appearance="fill">
            <mat-label>¿Con quién vive?</mat-label>
            <mat-select formControlName="conQuienViveChecks" multiple>
              <mat-option *ngFor="let opcion of listaPosiblesRespuestasConquienVive" [value]="opcion">
                {{ opcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <!-- Familia con un solo ingres (SI/NO) -->
          <mat-form-field appearance="fill" style="height: 80px;">
            <mat-label>¿Familia con un solo ingreso?</mat-label>
            <mat-select formControlName="familiaSolo">
              <mat-option *ngFor="let opcion of opcionBinaria" [value]="opcion.value">
                {{ opcion.display }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Personas a cargo</mat-label>
          <mat-select formControlName="personas_a_cargo" multiple>
            <mat-option *ngFor="let persona of personasACargoOptions" [value]="persona">
              {{ persona }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- ¿Cómo es su relación Familiar? -->
        <mat-form-field appearance="fill">
          <mat-label>¿Cómo es su relación Familiar?</mat-label>
          <mat-select formControlName="como_es_su_relacion_familiar">
            <mat-option value="MALA">MALA RELACIÓN (NO TENEMOS CONTACTO)</mat-option>
            <mat-option value="MAS_O_MENOS">MÁS O MENOS (HABLAMOS DE VEZ EN CUANDO)</mat-option>
            <mat-option value="BUENA">BUENA (HABLAMOS FRECUENTEMENTE)</mat-option>
            <mat-option value="EXCELENTE">EXCELENTE (CONVIVIMOS BIEN ACTUALMENTE)</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="title">
          <h1>Datos parte 3 </h1>
        </div>
        <div class="datos">
          <h1 style="line-height: 1.0; margin-left: 20pt; margin-top: 15px; margin-bottom: 10px; flex: 1 1 100%;"> Tipo
            de
            vivienda </h1>

          <mat-form-field appearance="fill">
            <mat-label>¿Tipo de vivienda?</mat-label>
            <mat-select formControlName="tiposViviendaChecks" multiple>
              <mat-option *ngFor="let tipo of tiposVivienda" [value]="tipo">
                {{ tipo }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <!-- Número de Habitaciones -->
          <mat-form-field appearance="fill">
            <mat-label>Número de Habitaciones</mat-label>
            <mat-select formControlName="numeroHabitaciones">
              <mat-option *ngFor="let numero of listaEscolaridad" [value]="numero">
                {{ numero }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Número de Personas por Habitación -->
          <mat-form-field appearance="fill">
            <mat-label>Número de Personas por Habitación</mat-label>
            <mat-select formControlName="personasPorHabitacion">
              <mat-option *ngFor="let numero of listaEscolaridad" [value]="numero">
                {{ numero }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Tipo de Vivienda -->
          <mat-form-field appearance="fill">
            <mat-label>Tipo de Vivienda</mat-label>
            <mat-select formControlName="tipoVivienda2">
              <mat-option *ngFor="let tipo of tiposVivienda2" [value]="tipo">
                {{ tipo }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Características de la Vivienda -->
          <mat-form-field appearance="fill">
            <mat-label>Características de la Vivienda</mat-label>
            <mat-select formControlName="caracteristicasVivienda">
              <mat-option *ngFor="let caracteristica of caracteristicasVivienda" [value]="caracteristica">
                {{ caracteristica }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h1 style=" line-height: 1.0; margin-left: 20pt; margin-top: 15px; margin-bottom: 10px; flex: 1 1 100%;">
            Servicios que tiene la
            vivienda </h1>

          <mat-form-field appearance="fill">
            <mat-label>¿Comodidades en la vivienda?</mat-label>
            <mat-select formControlName="comodidadesChecks" multiple>
              <mat-option *ngFor="let comodidad of comodidades" [value]="comodidad">
                {{ comodidad }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <h1 style="line-height: 1.0; margin-left: 20pt; margin-top: 15px; margin-bottom: 10px; flex: 1 1 100%;">
            Cuales
            son sus
            expectativas de vida </h1>

          <mat-form-field appearance="fill">
            <mat-label>¿Expectativas de vida?</mat-label>
            <mat-select formControlName="expectativasVidaChecks" multiple>
              <mat-option *ngFor="let expectativa of expectativasVida" [value]="expectativa">
                {{ expectativa }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <!-- Cómo se enteró de la vacante formcontrol fuenteVacante, select del arreglo opcionesPromocion  -->

          <mat-form-field appearance="fill">
            <mat-label>Cómo se enteró de la vacante</mat-label>
            <mat-select formControlName="fuenteVacante">
              <mat-option *ngFor="let fuente of opcionesPromocion" [value]="fuente">
                {{ fuente }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <!--parte 4 -->
        <div class="title">
          <h1>Datos parte 4 </h1>
        </div>

        <div class="datos">



          <!-- ¿Está dispuesto a realizar actividades diferentes al cargo? -->
          <mat-form-field appearance="fill">
            <mat-label>¿Está dispuesto a realizar actividades diferentes al cargo?</mat-label>
            <mat-select formControlName="actividadesDi">
              <mat-option value="SI">SÍ</mat-option>
              <mat-option value="TAL VEZ">TAL VEZ</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Mencione una experiencia significativa en su trabajo -->
          <mat-form-field appearance="fill">
            <mat-label>Mencione una experiencia significativa en su trabajo</mat-label>
            <textarea matInput formControlName="experienciaSignificativa" rows="3"></textarea>
          </mat-form-field>

          <!-- ¿Cuál es su motivación? -->
          <mat-form-field appearance="fill">
            <mat-label>¿Cuál es su motivación?</mat-label>
            <mat-select formControlName="motivacion">
              <mat-option value="FAMILIA">FAMILIA</mat-option>
              <mat-option value="HIJOS">HIJOS</mat-option>
              <mat-option value="ESTUDIO">ESTUDIO</mat-option>
              <mat-option value="CRECIMIENTO PERSONAL">CRECIMIENTO PERSONAL</mat-option>
            </mat-select>
          </mat-form-field>




          <!-- Selección para generar hoja de vida -->
          <mat-form-field appearance="fill">
            <mat-label>¿Desea generar su hoja de vida? *OPCIONAL SUBIR</mat-label>
            <mat-select formControlName="deseaGenerar" (selectionChange)="onSelectionChange()">
              <mat-option [value]="true">Sí</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Input para cargar archivo si selecciona "No" -->
          <div *ngIf="formHojaDeVida2.get('deseaGenerar')?.value === false" class="input-container">
            <!-- Menú para acciones con el archivo -->
            <button mat-icon-button [matMenuTriggerFor]="pdfMenuHojaDeVida" aria-label="PDF options" type="button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #pdfMenuHojaDeVida="matMenu">
              <!-- Opción para ver archivo -->
              <button mat-menu-item (click)="verArchivo('hojaDeVida')" type="button">Ver PDF</button>
              <!-- Opción para subir archivo -->
              <button mat-menu-item type="button">
                <label for="fileInputHojaDeVida" style="cursor: pointer;">Subir PDF</label>
              </button>
              <!-- Input de archivo oculto -->
              <input type="file" id="fileInputHojaDeVida" style="display: none;"
                (change)="subirArchivo($event, 'hojaDeVida')" accept=".pdf" />
            </mat-menu>

            <!-- Campo de texto para mostrar el nombre del archivo -->
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Hoja de Vida</mat-label>
              <input matInput formControlName="hojaDeVida"
                [value]="uploadedFiles['hojaDeVida'] ? uploadedFiles['hojaDeVida'].fileName : ''" readonly />
            </mat-form-field>
          </div>

          <!-- Tiene vehículo -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('deseaGenerar')?.value">
            <mat-label>¿Tiene vehículo?</mat-label>
            <mat-select formControlName="tieneVehiculo">
              <mat-option value="SI">SÍ</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Licencia de conducción -->
          <mat-form-field appearance="fill"
            *ngIf="formHojaDeVida2.get('deseaGenerar')?.value && formHojaDeVida2.get('tieneVehiculo')?.value === 'SI'">
            <mat-label>Licencia de conducción Nº</mat-label>
            <input matInput formControlName="licenciaConduccion" />
          </mat-form-field>

          <!-- Categoría de la licencia -->
          <mat-form-field
            *ngIf="formHojaDeVida2.get('deseaGenerar')?.value && formHojaDeVida2.get('tieneVehiculo')?.value === 'SI'"
            appearance="fill">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoriaLicencia" multiple>
              <mat-option *ngFor="let categoria of categoriasLicencia" [value]="categoria">{{ categoria }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Está trabajando actualmente -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('deseaGenerar')?.value">
            <mat-label>¿Está trabajando actualmente?</mat-label>
            <mat-select formControlName="estaTrabajando">
              <mat-option value="SI">SÍ</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Empresa -->
          <mat-form-field appearance="fill"
            *ngIf="formHojaDeVida2.get('deseaGenerar')?.value && formHojaDeVida2.get('estaTrabajando')?.value === 'SI'">
            <mat-label>Empresa</mat-label>
            <input matInput formControlName="empresaActual" />
          </mat-form-field>

          <!-- Empleado o independiente -->
          <mat-form-field appearance="fill"
            *ngIf="formHojaDeVida2.get('deseaGenerar')?.value && formHojaDeVida2.get('estaTrabajando')?.value === 'SI'">
            <mat-label>¿Empleado o independiente?</mat-label>
            <mat-select formControlName="tipoTrabajo">
              <mat-option value="Empleado">Empleado</mat-option>
              <mat-option value="Independiente">Independiente</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Tipo de contrato -->
          <mat-form-field appearance="fill"
            *ngIf="formHojaDeVida2.get('deseaGenerar')?.value && formHojaDeVida2.get('estaTrabajando')?.value === 'SI'">
            <mat-label>Tipo de contrato</mat-label>
            <mat-select formControlName="tipoContrato">
              <mat-option *ngFor="let tipo of tiposContrato" [value]="tipo">{{ tipo }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Trabajó antes en esta empresa -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('deseaGenerar')?.value">
            <mat-label>¿Trabajó antes en esta empresa?</mat-label>
            <mat-select formControlName="trabajoAntes">
              <mat-option value="SI">SÍ</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Solicitó empleo antes -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('deseaGenerar')?.value">
            <mat-label>¿Solicitó empleo antes en esta empresa?</mat-label>
            <mat-select formControlName="solicitoAntes">
              <mat-option value="SI">SÍ</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
          </mat-form-field>


          <!-- Tiene hermanos -->
          <!-- La pregunta "¿Tiene hermanos?" -->
          <mat-form-field appearance="fill" *ngIf="formHojaDeVida2.get('deseaGenerar')?.value">
            <mat-label>¿Tiene hermanos?</mat-label>
            <mat-select formControlName="tieneHermanos">
              <mat-option [value]="'SI'">Sí</mat-option>
              <mat-option [value]="'NO'">No</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Campo para "¿Cuántos hermanos?" usando mat-select -->
          <mat-form-field appearance="fill"
            *ngIf="formHojaDeVida2.get('deseaGenerar')?.value && formHojaDeVida2.get('tieneHermanos')?.value === 'SI'">
            <mat-label>¿Cuántos hermanos?</mat-label>
            <mat-select formControlName="numeroHermanos">
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
          </mat-form-field>



          <!-- Información de los hermanos -->
          <!-- Aquí va el FormArray de hermanos -->
          <div formArrayName="hermanos"
            *ngIf="hermanosArray?.length && hermanosArray.length > 0 && formHojaDeVida2.get('deseaGenerar')?.value">
            <!-- Recorremos cada "hermano" en el array -->
            <div *ngFor="let hermano of hermanosArray.controls; let i = index" [formGroupName]="i"
              class="hermano-container">
              <h2 style="line-height: 1.0; margin-left: 20pt; margin-top: 15px; margin-bottom: 10px; flex: 1 1 100%;">
                Hermano {{ i + 1 }}</h2>

              <!-- Campo para el nombre -->
              <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" />
                <mat-error *ngIf="hermano.get('nombre')?.invalid && hermano.get('nombre')?.touched">
                  ¡El nombre es requerido!
                </mat-error>
              </mat-form-field>

              <!-- Campo para la profesión -->
              <mat-form-field appearance="fill">
                <mat-label>Profesión/ocupación/oficio</mat-label>
                <input matInput formControlName="profesion" />
                <mat-error *ngIf="hermano.get('profesion')?.invalid && hermano.get('profesion')?.touched">
                  ¡La profesión es requerida!
                </mat-error>
              </mat-form-field>

              <!-- Campo para el teléfono -->
              <mat-form-field appearance="fill">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono" />
                <mat-error *ngIf="hermano.get('telefono')?.errors?.['required'] && hermano.get('telefono')?.touched">
                  ¡El teléfono es requerido!
                </mat-error>
                <mat-error *ngIf="hermano.get('telefono')?.errors?.['pattern'] && hermano.get('telefono')?.touched">
                  Solo se admiten dígitos.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div style="align-items: center; margin: 0 auto; text-align: center; margin-top: 20px; flex: 1 1 100%;">
            <button type="submit" mat-raised-button color="primary"
              style="width: 80%; text-align: center; margin: 0 auto; " (click)="imprimirInformacion2()">
              Guardar </button> <br> <br>
          </div>

        </div>
      </div>
    </form>

  </div>

</div>