.contenedor {
    max-width: 100%;
    box-sizing: content-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans";
    font-size: 16px;
}

.head {
    width: 100%;
    background-color: #8dd603;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: 10px;
}

.datos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.numeroHijos,
.datosPapa,
.datrosMama {
    width: 100%;
}

.head .hijos,
.head .papa,
.head .mama,
.head .datosEmpresa {
    flex: 1;
}

.logo {
    background-color: #8dd603;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    width: 70%;
    margin-bottom: 10px;
}

.title {
    box-sizing: content-box;
    background-color: #8dd603;
    padding-left: 30px;
    margin-top: 10px;
    color: white;
    height: 50px;
    padding-top: 10px;
}

.formulario {
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 30pt;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 50px;
}

h1,
h2 {
    font-family: "Oswald";
    text-align: left;
}

h2 {
    font-size: 18pt;
    margin: 0;
    padding: 0;
    flex: 1 1 100%;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px ;
}

span {
    font-weight: normal;
    font-size: 14pt;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


mat-form-field {
    width: calc(30% - 40px);
    /* Ajusta según tus márgenes */
    margin: 10px 20px 10px 30px;
    /* Mantén o ajusta los márgenes según sea necesario */
}

.cajabusqueda {
    width: 100%;
    height: 10vh;
    /* Establece la altura a 100% de la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Esto ya debería estar centrando los elementos verticalmente */
}

.cajabusqueda .boton {
    margin-top: 0px;
    width: 50%;
    margin: -5px 30px 0 0;
}



.boton {
    height: 51px;
    width: 80%;
    border: none;
    border-radius: 5px;
    font-family: "Open Sans";
    color: #fff;
    font-size: 13pt;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;

}

.cedulaAux {
    margin-top: 25px;
}

.input-file {
    display: none;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.question-box {
    width: 60%; /* Ajusta al tamaño deseado */
    padding: 10px;
    margin-bottom: 20px;
}

.options-container {
    display: flex;
    flex-wrap: wrap; /* Permite el ajuste de las opciones si no caben en una sola fila */
    justify-content: space-around; /* Distribuye las opciones horizontalmente */
    gap: 10px; /* Añade un espacio entre las opciones */
}

.option-box {
    display: flex;
    flex-direction: column; /* Organiza la imagen y el texto verticalmente */
    align-items: center; /* Centra el contenido */
    width: 30%; /* Cada opción ocupa un 30% del ancho disponible */
}

.custom-option {
    width: 100%; /* Hace que el radio y texto ocupen todo el ancho del option-box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Añade sombra */
    height: 320px;
    /* alinear verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

}

.option-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.option-image {
    width: 80%; /* Ajusta al tamaño deseado, manteniendo proporción */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px;
}

.option-text {
    font-size: 16px;
}

.custom-option input[type="radio"] {
    margin: 10px 0;
}

.score-container {
    font-size: 24px;
    margin-top: 20px;
}

.quiz-container2 {    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuye las opciones horizontalmente */
    margin-top: 20px;
    gap: 20px;
}

.case-box {
    width: 40%; /* Ajusta según tus necesidades */
    border: 1px solid #ccc; /* Añade un borde para definir el cuadro */
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case-image {
    width: 40%; /* La imagen ocupa todo el ancho del cuadro */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 20px;
}

.case-description {
    font-size: 18px; /* Ajusta el tamaño de la fuente según tus necesidades */
    margin-bottom: 20px;
    text-align: center;
}

.answer-select {
    width: 50%; /* Ajusta el ancho del select */
    padding: 10px;
    border-radius: 5px; /* Opcional: añade bordes redondeados */
}


.image-question-box{
    width: 22%; /* Ajusta al tamaño deseado */
    height: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Añade sombra */
    margin: 0 auto;
}

.image-question-box img{
    width: 50%;
    height: auto;
    flex: 1 1 100%;

}

.question-statement{
    margin-bottom: 20px;
    margin-top: 20px;
}

.answer-select{    
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}



@media screen and (max-width: 600px) {

    .logo {
        width: 70%;
        height: auto;
        margin-top: 80px;
    }

    .head {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 100px;
        height: 100px;
        width: 100%;
        box-sizing: content-box;
    }

    .head .caja {
        margin-top: 10px;
        margin-bottom: 30px;
        /* Ajusta el espacio entre la imagen y el título */
        height: auto;
    }

    .head h1 {
        margin: 0 auto;
    }

    .cajabusqueda {
        flex-direction: column;
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .cajabusqueda .cedulaAux {
        margin-top: -20px;
        width: 100%;
    }

    .cajabusqueda .boton {
        width: 100%;
        margin-top: 10px;
        margin-left: 45px;
    }

    .logo {
        margin-top: 10px;
    }

    .formulario {
        width: 100%;
        height: 100%;
    }

    mat-form-field {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 0px;
    }


    .formulario h2 {
        margin-left: -1px;
    }


}

@media screen and (min-width: 601px) and (max-width: 1223px) {
    .logo {
        width: 70%;
        height: auto;
        margin-top: 80px;
    }

    .head {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 100px;
        height: 100px;
        width: 100%;
        box-sizing: content-box;
    }

    .head .caja {
        margin-top: 10px;
        margin-bottom: 30px;
        /* Ajusta el espacio entre la imagen y el título */
        height: auto;
    }

    .head h1 {
        margin: 0 auto;
    }

    .cajabusqueda {
        flex-direction: column;
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .cajabusqueda .cedulaAux {
        margin-top: -20px;
        width: 100%;
    }

    .cajabusqueda .boton {
        width: 100%;
        margin-top: 10px;
        margin-left: 45px;
    }

    .datos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-top: 10px;
    }

    .formulario {
        width: 100%;
        height: 100%;
    }

    mat-form-field {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .formulario h2 {
        margin-left: -1px;
    }

    .boton {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
}