<div class="contenedor">
    <div class="head">
        <div class="caja">
            <img src="../../assets/blanco-horizontal-alianza - copia.png" alt="logo" class="logo">
        </div>
        <h1>Prueba Seguridad y Salud en el trabajo</h1>
    </div>

    <div class="cajabusqueda">
        <mat-form-field appearance="fill" *ngIf="!mostrarFormulario" class="cedulaAux">
            <mat-label> Escriba el número de cédula a buscar </mat-label>
            <input type="number" matInput [(ngModel)]="numeroCedula" placeholder="Ej: 10058478963">
        </mat-form-field>

        <button type="button" class="boton" *ngIf="!mostrarFormulario" mat-raised-button color="primary"
            (click)="buscarCedula()"> Buscar
        </button>

        <div class="info">
            <h2 *ngIf="mostrarFormulario">Nombre: <span>{{nombre}}</span></h2>
            <h2 *ngIf="mostrarFormulario">Codigo de contrato: <span>{{CodigoContrato}}</span></h2>
        </div>




    </div>

    <form class="formulario" id="formulario" *ngIf="mostrarFormulario">
        <h2>Seleccione la imagen que considere correcta. </h2>

        <div class="datos">

            <div class="quiz-container">
                <div *ngFor="let question of questions; let i = index" class="question-box">
                    <div class="question">{{ question.text }}</div>
                    <div class="options-container">
                        <div *ngFor="let option of question.options; let j = index" class="option-box">
                            <label class="custom-option">
                                <input type="radio" [name]="'question1' + i"
                                    (change)="selectOption(questions, i, j, option.isCorrect)" />
                                <div class="option-content">
                                    <img [src]="option.image" class="option-image" alt="Option image">
                                    <div class="option-text">{{ option.text }}</div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="quiz-container">
                <div *ngFor="let question of questions2; let i = index" class="question-box">
                    <div class="question">{{ question.text }}</div>
                    <div class="options-container">
                        <div *ngFor="let option of question.options; let j = index" class="option-box">
                            <label class="custom-option">
                                <input type="radio" [name]="'question2' + i"
                                    (change)="selectOption(questions2, i, j, option.isCorrect)" />
                                <div class="option-content">
                                    <img [src]="option.image" class="option-image" alt="Option image">
                                    <div class="option-text">{{ option.text }}</div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!--puntaje-->
            <div class="puntaje">
                <h2>Puntaje: {{score}}</h2>
            </div>

            <h2> Lea cuidadosamente los siguientes enunciados y seleccione verdadero o falso segun considere </h2>

            <div class="quiz-container2">

                <div *ngFor="let question of trueFalseQuestions; let i = index" class="case-box">
                    <img [src]="question.image" class="case-image" alt="Case image">
                    <div class="case-description">{{ question.text }}</div>
                    <select (change)="selectTrueFalseAnswer(question.id, $any($event.target).value)"
                        class="answer-select">
                        <option value="" disabled selected>Seleccionar</option>
                        <option value="true">Verdadero</option>
                        <option value="false">Falso</option>
                    </select>
                </div>
            </div>

            <h2> Debajo de cada imagen, escriba los peligros o consecuencias a los que está se expuesto </h2>

            <div *ngFor="let question of imageQuestions" class="image-question-box">
                <img [src]="question.image" class="question-image" alt="Question image">
                <div class="question-statement">{{ question.statement }}</div>
                <select (change)="selectImageQuestionAnswer(question.id, $event)" class="answer-select">
                    <option value="" disabled selected>Selecciona tu respuesta</option>
                    <option *ngFor="let option of question.options" [value]="option">{{ option }}</option>
                </select>


            </div>

            <h2>Marque con una “X” la respuesta correcta. Como trabajador de APOYO LABORAL TS SAS me comprometo a:</h2>
            <div *ngFor="let question of imageQuestions2" class="image-question-box">
                <img [src]="question.image" class="question-image" alt="Question image">
                <div class="question-statement">{{ question.statement }}</div>
                <select (change)="selectImageQuestionAnswer(question.id, $event)" class="answer-select">
                    <option value="" disabled selected>Selecciona tu respuesta</option>
                    <option *ngFor="let option of question.options" [value]="option">{{ option }}</option>
                </select>


            </div>








        </div>

        <button type="button" class="boton" (click)="enviarRespuestas()" mat-raised-button color="primary"> Calificar
        </button>



    </form>


</div>