<div class="contenedor">
    <div class="head">
        <div class="caja">
            <img src="../../assets/blanco-horizontal-alianza - copia.png" alt="logo" class="logo">
        </div>
        <h1>Prueba Lecto Escritura</h1>
    </div>

    <div class="cajabusqueda">
        <mat-form-field appearance="fill" *ngIf="!mostrarFormulario" class="cedulaAux">
            <mat-label> Escriba el número de cédula a buscar </mat-label>
            <input type="number" matInput [(ngModel)]="numeroCedula" placeholder="Ej: 10058478963">
        </mat-form-field>

        <button type="button" class="boton" *ngIf="!mostrarFormulario" mat-raised-button color="primary"
            (click)="buscarCedula()"> Buscar </button>
        <div class="info">
            <h2 *ngIf="mostrarFormulario">Nombre: <span>{{nombre}}</span></h2>
            <h2 *ngIf="mostrarFormulario">Edad: <span>{{edad}}</span></h2>
            <h2 *ngIf="mostrarFormulario">Grado: <span>{{grado}}</span></h2>
        </div>


    </div>

    <form class="formulario" id="formulario" >
        <h2>1. Complete la palabra según la imagen </h2>
        <div class="datos">

            <!-- Itera sobre palabrasConEstados para generar una caja de prueba por palabra -->
            <div class="cajaPrueba" *ngFor="let item of palabrasConEstados; let pIndex = index">
                <!-- Usa la propiedad palabra de cada item para determinar la fuente de la imagen -->
                <img src="../../assets/Img/{{item.palabra}}.png" alt="{{item.palabra}}" class="imagen-gallina">
                <!-- El resto de tu código HTML permanece igual... -->

                <div class="campos-letras">
                    <input *ngFor="let estado of item.estados; let lIndex = index" [disabled]="!estado.habilitado"
                        [value]="!estado.habilitado ? estado.letra : ''"
                        (input)="verificarLetra($event, lIndex, pIndex)" maxlength="1">
                </div>

            </div>
        </div>

        <h2>2. Realice las siguientes operaciones matemáticas. </h2>

        <div class="operaciones-matematicas">
            <div class="operacion">
                <span>a. 35 + 17 = </span>
                <input type="number" [(ngModel)]="respuestas.a" (ngModelChange)="verificarRespuesta('a', respuestas.a)"
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="operacion">
                <span>b. 53 - 10 = </span>
                <input type="number" [(ngModel)]="respuestas.b" (ngModelChange)="verificarRespuesta('b', respuestas.b)"
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="operacion">
                <span>c. 16 x 8 = </span>
                <input type="number" [(ngModel)]="respuestas.c" (ngModelChange)="verificarRespuesta('c', respuestas.c)"
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="operacion">
                <span>d. 200 / 2 = </span>
                <input type="number" [(ngModel)]="respuestas.d" (ngModelChange)="verificarRespuesta('d', respuestas.d)"
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="operacion">
                <span>e. 350 - 50 = </span>
                <input type="number" [(ngModel)]="respuestas.e" (ngModelChange)="verificarRespuesta('e', respuestas.e)"
                    [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <h2>3. Si en una hora de trabajo realizo 20 Ramos, en 4 horas de trabajo, ¿Cuántos ramos he realizado? </h2>

        <div class="pregunta-ramos">
            <div *ngFor="let opcion of preguntaRamos.opciones" class="opcion">
                <input type="radio" name="respuestaRamos" [value]="opcion.valor"
                    [(ngModel)]="preguntaRamos.respuestaSeleccionada" [ngModelOptions]="{standalone: true}"
                    (change)="verificarRespuestaRamos()">
                <label>{{opcion.opcion}}. {{opcion.valor}}</label>
            </div>
        </div>


        <h2>4. Observe cada uno de los números y seleccione, si estos NO SON IGUALES</h2>
        <div class="comparaciones">
            <div *ngFor="let comparacion of comparaciones; let i = index" class="comparar">
                <span>{{comparacion.num1}} _ {{comparacion.num2}}</span>
                <input type="checkbox" [(ngModel)]="comparacion.marcado" [ngModelOptions]="{standalone: true}">
            </div>

        </div>



        <button type="button" class="boton" (click)="enviarRespuestas()" mat-raised-button color="primary"> Calificar </button>



    </form>


</div>