.contenedor {
  max-width: 100vw;
}

mat-error{
  line-height: 0.9;
}

/* Aplica a todo el texto dentro del formulario */
form.formulario2 {
  text-transform: uppercase;
}

/* Aplica a todo el texto dentro del formulario */
form.formulario {
  text-transform: uppercase;
}

.head {
  display: flex;
  align-items: center;
  background-color: #8dd603;
  padding: 10pt;
}

.head h1 {
  margin-top: 0;
  line-height: 1.2;
}

.datos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.numeroHijos,
.datosPapa,
.datrosMama {
  width: 100%;
}


.logo {
  background-color: #8dd603;
  float: left;
  margin-left: 50px;
  margin-top: 5px;
}

.title {
  display: flex;
  align-items: center;
  background-color: #8dd603;
  padding: 10pt;
  color: white;
}

h1 {
  font-family: "Oswald";
  font-size: 30pt;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 50px;
}

h1:nth-child(2) {
  /* centrar en la mitad */
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.opciones {
  float: left;
  margin-right: 110px;
}

.example-section {
  margin-left: 30px;
  margin-bottom: 20px;
  width: 30%;
}

.example-section h3 {
  font-family: "Open Sans";
}

mat-form-field {
  width: calc(22% - 10px);
  margin: 10px 20px 10px 30px;
  display: inline-block;
}

mat-datepicker-toggle {
  color: #8dd603;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

mat-datepicker {
  color: #8dd603;
}

.edad-hijo-form-field {
  width: calc(30% - 40px);
  margin: 10px 20px 10px 30px;
  min-width: 410px;
}

.file {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cedulaAux {
  margin-top: 25px;
}

.input-file {
  display: none;
}

.check {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 20px;
}

.check2 {
  width: 50%;
  box-sizing: border-box;
  padding: 2px;
}

.input-file {
  display: none;
}

.imagenes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-left: 50px;
}

.boton {
  height: 51px;
  width: 27vw;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  font-family: "Open Sans";
  color: #0f5e15;
  font-size: 13pt;
  font-weight: bold;
  cursor: pointer;
}

.boton:nth-child(2) {
  margin-right: 40px;
}

.firmaCaja {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.botones button {
  width: 200px;
  height: 50px;
  margin: 0 20px;
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 13pt;
  font-weight: bold;
  cursor: pointer;
}

.cajabusqueda {
  width: 100%;
  height: 10vh;
  /* Establece la altura a 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Esto ya debería estar centrando los elementos verticalmente */
}

.cajabusqueda .boton {
  margin-top: 0px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5pt; /* Espaciado horizontal entre campos */
  align-items: flex-start; /* Alinea los campos al inicio */
}

.input-container {
  display: flex;
  align-items: center;
  margin-left: 15pt;
}

.example-full-width {
  margin-left: -1pt;
  width: 80%;
}


.contenedor {
  max-width: 100vw;
}

mat-error{
  line-height: 0.9;
}

/* Aplica a todo el texto dentro del formulario */
form.formulario2 {
  text-transform: uppercase;
}

/* Aplica a todo el texto dentro del formulario */
form.formulario {
  text-transform: uppercase;
}

.datos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.numeroHijos,
.datosPapa,
.datrosMama {
  width: 100%;
}


.logo {
  background-color: #8dd603;
  float: left;
  margin-left: 50px;
  margin-top: 5px;
}

.title {
  display: flex;
  align-items: center;
  background-color: #8dd603;
  padding: 10pt;
  color: white;
}

h1 {
  font-family: "Oswald";
  font-size: 30pt;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 50px;
}

h1:nth-child(2) {
  /* centrar en la mitad */
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.opciones {
  float: left;
  margin-right: 110px;
}

.example-section {
  margin-left: 30px;
  margin-bottom: 20px;
  width: 30%;
}

.example-section h3 {
  font-family: "Open Sans";
}

mat-datepicker-toggle {
  color: #8dd603;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

mat-datepicker {
  color: #8dd603;
}

.edad-hijo-form-field {
  width: calc(30% - 40px);
  margin: 10px 20px 10px 30px;
  min-width: 410px;
}

.file {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cedulaAux {
  margin-top: 25px;
}

.input-file {
  display: none;
}

.check {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 20px;
}

.check2 {
  width: 50%;
  box-sizing: border-box;
  padding: 2px;
}

.input-file {
  display: none;
}

.imagenes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-left: 50px;
}

.boton {
  height: 51px;
  width: 27vw;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  font-family: "Open Sans";
  color: #0f5e15;
  font-size: 13pt;
  font-weight: bold;
  cursor: pointer;
}

.boton:nth-child(2) {
  margin-right: 40px;
}

.firmaCaja {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.botones button {
  width: 200px;
  height: 50px;
  margin: 0 20px;
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 13pt;
  font-weight: bold;
  cursor: pointer;
}

.cajabusqueda {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cajabusqueda .boton {
  margin-top: 0px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5pt; /* Espaciado horizontal entre campos */
  align-items: flex-start; /* Alinea los campos al inicio */
}

.input-container {
  display: flex;
  align-items: center;
  margin-left: 15pt;
}

.example-full-width {
  margin-left: -1pt;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 70%;
    height: auto;
    margin-top: 80px;
  }

  .head {
    margin-bottom: 10pt;
  }

  .datos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo {
    font-size: 25pt;
    color: white;
    float: left;
    font-family: Oswald;
    text-align: center;
  }

  .title {
    height: auto;
    padding-bottom: 20px;
    /* ajustar porque la palabra se pega una con otra */
  }

  .title h1 {
    line-height: 1.2;
  }

  .logo {
    margin-top: 10px;
  }

  .contenedor {
    width: 100%;
    height: 100%;
  }

  .formulario {
    width: 100%;
    height: 100%;
  }

  h3 {
    margin-bottom: 0;
  }

  mat-form-field {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .example-full-width {
    width: 100% !important;
  }

  button[type="submit"] {
    width: 100%;
  }

  .boton {
    width: 300px;
  }

  .boton2 {
    width: 300px;
    margin-left: 30px;
  }

  .previo {
    height: 300px;
    margin-top: 130px;
    margin-left: -50px;
    transform: rotate(-90deg);
    margin-bottom: 50px;
  }

  .previo2 {
    height: 300px;
    margin-left: -50px;
    transform: rotate(-90deg);
    margin-top: 130px;
  }

  .botones button {
    width: 150px;
    margin: 0 10px 0 0;
  }

  .cajabusqueda {
    flex-direction: column;
    max-height: 50vh;
    height: auto;
  }

  .cajabusqueda mat-form-field {
    width: 80%;
  }

  .cajabusqueda .boton {
    width: 80%;
    margin-top: 10px;
  }

  .cajabusqueda .boton:nth-child(2) {
    margin-left: 37px;
  }

  .cajabusqueda .boton:nth-child(3) {
    margin-left: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 1223px) {

  h3 {
    margin-bottom: 0;
  }

  mat-form-field {
    width: 42%;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .file {
    width: 42%;
    margin-top: 10px;
  }

  .boton {
    width: 100%;
  }

  .previo {
    margin-left: -50px;
  }

  .previo2 {
    margin-left: -130px;
  }

  .botones button {
    width: 145px;
    margin: 0 10px 0 0;
  }

  .cajabusqueda .boton {
    width: 40%;
  }
}

@media screen and (min-width: 1224px) and (max-width: 1824px) {
  .cajabusqueda .boton {
    width: 40%;
  }

  h3 {
    margin-bottom: 0;
  }

mat-form-field {
  width: calc(20% - 10px);
  margin: 10px 20px 10px 30px;
  display: inline-block;
}

  .file {
    width: 29.1%;
    margin-top: 10px;
  }

  .boton {
    width: 100%;
  }

  .previo {
    margin-left: -50px;
  }

  .previo2 {
    margin-left: -130px;
  }

  .logo {
    width: 60%;
    height: auto;
    margin-top: -5px;
  }
}


