<div class="contenedor">
  <div class="head">
    <h1>Formulario de pre registro de vacantes</h1>
  </div>

  <div class="fila1">
    <form class="formulario" [formGroup]="formVacante" autocomplete="off" (ngSubmit)="onSubmit()">

      <div class="title">
        <h2>Llena la siguiente información</h2>
      </div>

      <div class="datos">

        <!-- Tipo de documento -->
        <mat-form-field appearance="fill">
          <mat-label>Tipo de documento</mat-label>
          <mat-select formControlName="tipoDoc" required>
            <mat-option *ngFor="let tipoDoc of tipoDocs" [value]="tipoDoc.abbreviation">
              {{ tipoDoc.description }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formVacante.get('tipoDoc')?.hasError('required') && formVacante.get('tipoDoc')?.touched">
            Seleccione un tipo de documento.
          </mat-error>
        </mat-form-field>

        <!-- Número de documento -->
        <mat-form-field appearance="fill">
          <mat-label>Número de documento</mat-label>
          <input matInput formControlName="numero_de_documento" placeholder="Ej: 10058478963" maxlength="15" min="0"
            type="number">
          <mat-error
            *ngIf="formVacante.get('numeroDocumento')?.hasError('required') && formVacante.get('numeroDocumento')?.touched">
            El número de documento es obligatorio.
          </mat-error>
          <mat-error
            *ngIf="formVacante.get('numeroDocumento')?.hasError('pattern') && formVacante.get('numeroDocumento')?.touched">
            Solo se permiten números.
          </mat-error>
          <mat-error
            *ngIf="formVacante.get('numeroDocumento')?.value?.length < 6 && formVacante.get('numeroDocumento')?.touched">
            Debe tener mínimo 6 dígitos.
          </mat-error>
        </mat-form-field>

        <!-- Primer apellido -->
        <mat-form-field appearance="fill">
          <mat-label>Primer apellido</mat-label>
          <input matInput formControlName="primerApellido" maxlength="30">
          <mat-error
            *ngIf="formVacante.get('primerApellido')?.hasError('required') && formVacante.get('primerApellido')?.touched">
            El primer apellido es obligatorio.
          </mat-error>
          <mat-error
            *ngIf="formVacante.get('primerApellido')?.value?.length < 2 && formVacante.get('primerApellido')?.touched">
            Debe tener mínimo 2 letras.
          </mat-error>
        </mat-form-field>

        <!-- Segundo apellido -->
        <mat-form-field appearance="fill">
          <mat-label>Segundo apellido</mat-label>
          <input matInput formControlName="segundoApellido" maxlength="30">
          <!-- Este campo no es obligatorio, sin error -->
        </mat-form-field>

        <!-- Primer nombre -->
        <mat-form-field appearance="fill">
          <mat-label>Primer nombre</mat-label>
          <input matInput formControlName="primerNombre" maxlength="30">
          <mat-error
            *ngIf="formVacante.get('primerNombre')?.hasError('required') && formVacante.get('primerNombre')?.touched">
            El primer nombre es obligatorio.
          </mat-error>
          <mat-error
            *ngIf="formVacante.get('primerNombre')?.value?.length < 2 && formVacante.get('primerNombre')?.touched">
            Debe tener mínimo 2 letras.
          </mat-error>
        </mat-form-field>

        <!-- Segundo nombre -->
        <mat-form-field appearance="fill">
          <mat-label>Segundo nombre</mat-label>
          <input matInput formControlName="segundoNombre" maxlength="30">
          <!-- No obligatorio -->
        </mat-form-field>

        <!-- Fecha de nacimiento -->
        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="pickerNacimiento" formControlName="fechaNacimiento"
            (focus)="pickerNacimiento.open()" readonly>
          <mat-datepicker-toggle matSuffix [for]="pickerNacimiento"></mat-datepicker-toggle>
          <mat-datepicker #pickerNacimiento startView="multi-year"></mat-datepicker>
          <mat-error
            *ngIf="formVacante.get('fechaNacimiento')?.hasError('required') && formVacante.get('fechaNacimiento')?.touched">
            La fecha de nacimiento es obligatoria.
          </mat-error>
        </mat-form-field>

        <!--Lugar de nacimiento-->
        <!-- Lugar de nacimiento (con autocompletado) -->
        <mat-form-field appearance="fill">
          <mat-label>Lugar de nacimiento</mat-label>

          <input matInput type="text" formControlName="lugarNacimiento" [matAutocomplete]="autoNacimiento"
            autocomplete="off" maxlength="50" />

          <mat-autocomplete #autoNacimiento="matAutocomplete" (optionSelected)="onLugarNacimientoSelected($event)"
            autoActiveFirstOption>
            <mat-option *ngFor="let ciudad of filteredCitiesNacimiento$ | async" [value]="ciudad">
              {{ ciudad }}
            </mat-option>
          </mat-autocomplete>

          <mat-error
            *ngIf="formVacante.get('lugarNacimiento')?.hasError('required') && formVacante.get('lugarNacimiento')?.touched">
            El lugar de nacimiento es obligatorio.
          </mat-error>
        </mat-form-field>


        <!-- Fecha de expedición -->
        <mat-form-field appearance="fill">
          <mat-label>Fecha de expedición</mat-label>
          <input matInput [matDatepicker]="pickerExpedicion" formControlName="fechaExpedicion"
            (focus)="pickerExpedicion.open()" readonly>
          <mat-datepicker-toggle matSuffix [for]="pickerExpedicion"></mat-datepicker-toggle>
          <mat-datepicker #pickerExpedicion startView="multi-year"></mat-datepicker>
          <mat-error
            *ngIf="formVacante.get('fechaExpedicion')?.hasError('required') && formVacante.get('fechaExpedicion')?.touched">
            La fecha de expedición es obligatoria.
          </mat-error>
        </mat-form-field>

        <!--municipio expedicion-->
        <!-- Municipio de expedición (con autocompletado) -->
        <mat-form-field appearance="fill">
          <mat-label>Municipio de expedición</mat-label>

          <input matInput type="text" formControlName="municipioExpedicion" [matAutocomplete]="autoMunicipio"
            autocomplete="off" />

          <mat-autocomplete #autoMunicipio="matAutocomplete" (optionSelected)="onMunicipioSelected($event)"
            autoActiveFirstOption>
            <mat-option *ngFor="let ciudad of filteredCities$ | async" [value]="ciudad">
              {{ ciudad }}
            </mat-option>
          </mat-autocomplete>

          <mat-error
            *ngIf="formVacante.get('municipioExpedicion')?.hasError('required') && formVacante.get('municipioExpedicion')?.touched">
            El municipio de expedición es obligatorio.
          </mat-error>
        </mat-form-field>


        <!-- Barrio -->
        <mat-form-field appearance="fill">
          <mat-label>Barrio</mat-label>
          <input matInput formControlName="barrio" placeholder="Ejemplo: Barrio la paz" maxlength="40">
          <mat-error *ngIf="formVacante.get('barrio')?.hasError('required') && formVacante.get('barrio')?.touched">
            El barrio es obligatorio.
          </mat-error>
          <mat-error *ngIf="formVacante.get('barrio')?.value?.length < 3 && formVacante.get('barrio')?.touched">
            Debe tener mínimo 3 caracteres.
          </mat-error>
        </mat-form-field>

        <!--celular-->
        <mat-form-field appearance="fill">
          <mat-label>Número de celular</mat-label>
          <input matInput formControlName="numeroCelular" placeholder="Ej: 3175987256" maxlength="10" min="0"
            type="number">
          <mat-error
            *ngIf="formVacante.get('numeroCelular')?.hasError('required') && formVacante.get('numeroCelular')?.touched">
            El número de celular es obligatorio.
          </mat-error>
          <mat-error
            *ngIf="formVacante.get('numeroCelular')?.hasError('pattern') && formVacante.get('numeroCelular')?.touched">
            Debe ser un número de celular colombiano válido (10 dígitos, inicia con 3).
          </mat-error>
        </mat-form-field>

        <!-- Número de WhatsApp -->
        <mat-form-field appearance="fill">
          <mat-label>Número de WhatsApp</mat-label>
          <input matInput formControlName="numeroWhatsapp" placeholder="Ej: 3175987256" maxlength="10" min="0"
            type="number">
          <mat-error
            *ngIf="formVacante.get('numeroWhatsapp')?.hasError('required') && formVacante.get('numeroWhatsapp')?.touched">
            El número de WhatsApp es obligatorio.
          </mat-error>
          <mat-error
            *ngIf="formVacante.get('numeroWhatsapp')?.hasError('pattern') && formVacante.get('numeroWhatsapp')?.touched">
            Debe ser un número de celular colombiano válido (10 dígitos, inicia con 3).
          </mat-error>
        </mat-form-field>

        <!-- Género -->
        <mat-form-field appearance="fill">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="genero" required>
            <mat-option *ngFor="let genero of generos" [value]="genero">
              {{ genero }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formVacante.get('genero')?.hasError('required') && formVacante.get('genero')?.touched">
            Seleccione un género.
          </mat-error>
        </mat-form-field>

        <!-- ¿Cuenta con experiencia en flores? -->
        <mat-form-field appearance="fill">
          <mat-label>¿Cuenta con experiencia en flores?</mat-label>
          <mat-select formControlName="experienciaFlores" required>
            <mat-option value="Sí">Sí</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
          <mat-error
            *ngIf="formVacante.get('experienciaFlores')?.hasError('required') && formVacante.get('experienciaFlores')?.touched">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>

        <!-- Selección de tipo de experiencia -->
        <mat-form-field appearance="fill" *ngIf="formVacante.get('experienciaFlores')?.value === 'Sí'">
          <mat-label>Tipo de experiencia en flores</mat-label>
          <mat-select formControlName="tipoExperienciaFlores" required>
            <mat-option value="CULTIVO">CULTIVO</mat-option>
            <mat-option value="POSCOSECHA">POSCOSECHA</mat-option>
            <mat-option value="AMBAS">AMBAS</mat-option>
            <mat-option value="OTROS">OTROS</mat-option>
          </mat-select>
          <mat-error
            *ngIf="formVacante.get('tipoExperienciaFlores')?.hasError('required') && formVacante.get('tipoExperienciaFlores')?.touched">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>

        <!-- Campo para especificar si selecciona OTROS -->
        <mat-form-field appearance="fill" *ngIf="formVacante.get('tipoExperienciaFlores')?.value === 'OTROS'">
          <mat-label>¿Cuál?</mat-label>
          <input matInput formControlName="otroExperiencia" maxlength="64"
            placeholder="Especifique otro tipo de experiencia">
          <mat-error
            *ngIf="formVacante.get('otroExperiencia')?.hasError('required') && formVacante.get('otroExperiencia')?.touched">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>

        <!--Estado civil-->
        <mat-form-field appearance="fill">
          <mat-label>Estado civil</mat-label>
          <mat-select formControlName="estadoCivil" required>
            <mat-option *ngFor="let estado of estadosCiviles" [value]="estado.codigo">
              {{ estado.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="formVacante.get('estadoCivil')?.hasError('required') && formVacante.get('estadoCivil')?.touched">
            Seleccione un estado civil.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>¿Con quién vive?</mat-label>
          <mat-select formControlName="conQuienViveChecks" multiple>
            <mat-option *ngFor="let opcion of listaPosiblesRespuestasConquienVive" [value]="opcion">
              {{ opcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--Hace cuento vive en la zona-->
        <!-- ¿Hace cuánto vive en la zona? -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>¿Hace cuánto vive en la zona?</mat-label>
          <mat-select formControlName="tiempoResidencia" required>
            <mat-option [value]="'LIFETIME'">Toda la vida</mat-option>

            <mat-optgroup label="Meses">
              <mat-option *ngFor="let m of meses" [value]="'M:' + m">
                {{ m }} {{ m === 1 ? 'mes' : 'meses' }}
              </mat-option>
            </mat-optgroup>

            <mat-optgroup label="Años">
              <mat-option *ngFor="let y of anios" [value]="'Y:' + y">
                {{ y }} {{ y === 1 ? 'año' : 'años' }}
              </mat-option>
            </mat-optgroup>
          </mat-select>

          <mat-hint>Ej.: 6 meses, 3 años o “Toda la vida”.</mat-hint>

          <mat-error *ngIf="formVacante.get('tiempoResidencia')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>


        <!-- ==== HIJOS ==== -->
        <section class="section">
          <div class="section-head">
            <h3 class="section-title">Información familiar</h3>
            <mat-divider></mat-divider>
          </div>

          <div class="grid-2" [formGroup]="formVacante">
            <!-- ¿Tiene hijos? -->
            <mat-form-field appearance="fill">
              <mat-label>¿Tiene hijos?</mat-label>
              <mat-select formControlName="tieneHijos" required>
                <mat-option [value]="true">Sí</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formVacante.get('tieneHijos')?.hasError('required') && formVacante.get('tieneHijos')?.touched">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>

            <!-- Espaciador cuando no hay hijos -->
            <div class="placeholder" *ngIf="formVacante.get('tieneHijos')?.value !== true"></div>
          </div>

          <!-- Si tiene hijos, mostrar detalles debajo -->
          <div *ngIf="formVacante.get('tieneHijos')?.value === true" class="stack">
            <div class="grid-2" [formGroup]="formVacante">
              <mat-form-field appearance="fill">
                <mat-label>¿Quién los cuida?</mat-label>
                <input matInput formControlName="cuidadorHijos" placeholder="Ej: Madre, Abuela, Guardería...">
                <mat-error
                  *ngIf="formVacante.get('cuidadorHijos')?.hasError('required') && formVacante.get('cuidadorHijos')?.touched">
                  Este campo es obligatorio.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Número de hijos</mat-label>
                <input matInput type="number" min="1" formControlName="numeroHijos" placeholder="Ej: 2">
                <mat-error
                  *ngIf="formVacante.get('numeroHijos')?.hasError('required') && formVacante.get('numeroHijos')?.touched">
                  Este campo es obligatorio.
                </mat-error>
                <mat-error *ngIf="formVacante.get('numeroHijos')?.hasError('min')">
                  Debe ser al menos 1.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Cards por hijo -->
            <div formArrayName="hijos" class="cards-stack children">
              <div class="card" *ngFor="let hijo of hijosFA.controls; let i = index" [formGroupName]="i">
                <div class="card-title">
                  <span>Hijo {{ i + 1 }}</span>
                </div>

                <div class="grid-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Edad</mat-label>
                    <input matInput type="number" formControlName="edad" min="0" max="99">
                    <mat-error *ngIf="hijo.get('edad')?.hasError('required')">Requerido</mat-error>
                  </mat-form-field>


                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- ==== EXPERIENCIA LABORAL ==== -->
        <section class="section">
          <div class="section-head">
            <h3 class="section-title">Empresas donde ha laborado</h3>
            <span class="spacer"></span>
            <button mat-stroked-button color="primary" type="button" (click)="addExperiencia()">
              <mat-icon>add</mat-icon>
              Agregar experiencia
            </button>
          </div>

          <div formArrayName="experiencias" class="cards-stack">
            <div class="card" *ngFor="let exp of experienciasFA.controls; let i = index" [formGroupName]="i">
              <div class="card-title">
                <span>Experiencia {{ i + 1 }}</span>
                <span class="spacer"></span>
                <button type="button" mat-icon-button color="warn" (click)="removeExperiencia(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div class="grid-2">
                <mat-form-field appearance="fill">
                  <mat-label>Nombre de la empresa</mat-label>
                  <input matInput formControlName="empresa">
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Tiempo (meses/años)</mat-label>
                  <input matInput formControlName="tiempo">
                </mat-form-field>
              </div>

              <div class="grid-1">
                <mat-form-field appearance="fill">
                  <mat-label>Labores realizadas</mat-label>
                  <textarea matInput rows="2" formControlName="labores"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Labores principales</mat-label>
                  <textarea matInput rows="2" formControlName="labores_principales"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </section>


        <!--Como se proyecta en 1 año-->
        <mat-form-field appearance="fill">
          <mat-label>¿Cómo se proyecta en 1 año?</mat-label>
          <input matInput rows="3" formControlName="proyeccion1Ano">
          <mat-error
            *ngIf="formVacante.get('proyeccion1Ano')?.invalid && formVacante.get('proyeccion1Ano')?.touched">Requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Escolaridad</mat-label>
          <mat-select formControlName="escolaridad" required>
            <mat-option *ngFor="let e of escolaridades" [value]="e.esco">{{ e.descripcion }}</mat-option>
          </mat-select>
          <!--requerido-->
          <mat-error
            *ngIf="formVacante.get('escolaridad')?.hasError('required') && formVacante.get('escolaridad')?.touched">Requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>¿Estudia actualmente?</mat-label>
          <mat-select formControlName="estudiaActualmente" required>
            <mat-option [value]="true">Sí</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
          <mat-error
            *ngIf="formVacante.get('estudiaActualmente')?.hasError('required') && formVacante.get('estudiaActualmente')?.touched">Requerido</mat-error>
        </mat-form-field>

        <!-- Seleccione una oficina -->
        <mat-form-field appearance="fill">
          <mat-label>Seleccione una oficina</mat-label>
          <mat-select formControlName="oficina" required>
            <mat-option *ngFor="let oficina of oficinas" [value]="oficina">
              {{ oficina }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formVacante.get('oficina')?.hasError('required') && formVacante.get('oficina')?.touched">
            Seleccione una oficina.
          </mat-error>
        </mat-form-field>

        <!-- Campo correo electrónico (solo usuario) -->
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="correo_usuario" placeholder="Ej: sebstian088" autocomplete="off"
            [pattern]="emailUserPattern" maxlength="64">
          <span matSuffix>&#64;</span> <!-- <-- aquí, para mostrar @ -->
          <mat-error
            *ngIf="formVacante.get('correo_usuario')?.hasError('required') && formVacante.get('correo_usuario')?.touched">
            El correo electrónico es obligatorio.
          </mat-error>
          <mat-error
            *ngIf="formVacante.get('correo_usuario')?.hasError('pattern') && formVacante.get('correo_usuario')?.touched">
            Ingrese solo el usuario, sin dominio.
          </mat-error>
        </mat-form-field>

        <!-- Dominio (select) -->
        <mat-form-field appearance="fill">
          <mat-label>Dominio</mat-label>
          <mat-select formControlName="correo_dominio" required>
            <mat-option *ngFor="let dom of dominiosValidos" [value]="dom">
              &#64;{{ dom }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="formVacante.get('correo_dominio')?.hasError('required') && formVacante.get('correo_dominio')?.touched">
            Seleccione el dominio.
          </mat-error>
        </mat-form-field>

      </div>
      <button matButton="filled" type="submit" style="margin-top:10pt; width: 10%; float: right; border-radius: 5pt;">
        Enviar
      </button>
    </form>
  </div>
</div>
