/* ======================
   Importación de fuentes
   ====================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* ======================
      Reseteo y normalización
      ====================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/* ======================
      Estilos base de html/body
      ====================== */
html,
body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
}

/* ======================
      Layout principal
      ====================== */
.dashboard-container {
  display: flex;
  height: 100vh;
}

/* Contenido del dashboard */
.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow-y: auto;
}


mat-card {
  background-color: #fff !important;
  width: 100%;
  max-width: 93vw;
  height: auto;
  padding: 12px;
  margin: 0 auto;
}

/* ======================
      Tabla
      ====================== */
.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 60vh;
  overflow: auto;
}

.table-container table {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.table-container th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1b1e36 !important;
  color: white;
  align-items: center;
}

.mat-table th.mat-header-cell {
  background-color: #182540 !important;
}

.mat-table {
  width: 100%;
}

.table-container tr:nth-child(even) {
  background-color: #fff;
}

.table-container tr:nth-child(odd) {
  background-color: #fff;
}

.table-container td,
.table-container th {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
